/* CSS reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Start */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
}

h1 {
    color: #0052c2
}

@media (min-width: 768px) {
    #sites {
        max-width: 80%;
    }
}

.distCell {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.construction-footer {
    width: 100%;
    text-align: center;
    padding: .5em;
    position: fixed;
    bottom: 0;
}

svg {
    color: green;
}

a:hover {
    color: #0d6efd!important;
    text-decoration: underline;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.loader__dot {
    animation: 2s blink infinite;
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms;
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms;
}

.bi-exclamation-triangle {
    width: 1.5em;
    height: 1.5em;
}

tr:last-child {
    border-bottom-color: transparent;
}